<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Грешка {{ errorcode }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link type="text/css" rel="stylesheet" href="{% static 'home/errorstyle.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'home/style_of_menu.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'home/menuscript.js'%}"></script>
	<link rel="icon" href="{% static 'home/favicon2.ico' %}">

</head>
<body>
<div class="arrowd" id="uparr">
	<b>&#709;</b>
</div>
<div id="menu">
	<ul class="dmenu">
			<li onclick="window.location = '{% url 'home:home' %}'"><a href="#">Начало</a></li><li onclick="window.location = '{% url 'map:map' %}'">
			<a class="alink" href="#">Карта</a></li>
			<img id="logos" src="{% static 'home/ship4.png' %}" height="76"/>
			<li onclick="window.location = '{% url 'search:index' %}'"><a href="#">Търсене</a></li><li onclick="window.location = '{% url 'other:other' %}'">
			<a href="#">Друго</a></li>
		</ul>


</div>
<div id="pagecont">
	<div id="titlearea">Грешка {{ errorcode }}</div>
<div id="errorcode">
	{% if errorcode == 404%}
	Страницата, която търсихте не може да бъде намерена! Моля, проверете линка отново! При нужда се свържете с нас чрез формата на <a href="{% url 'other:other' %}">тази</a> страница!
	{% else %}
	Възникна проблем със сървара! Моля върнете се по-късно!
	{% endif %}
</div>
</div>

<address>Проект "Тихоокеанска война", 2018</address>

</body>
</html>